<h1>添加新合并请求</h1>
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="groupId">group</label>
    <select class="form-control" id="groupId"
            required
            [(ngModel)]="groupId" name="groupId">
      <option *ngFor="let group of groupList" [value]="group.id">{{group.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="verNumber">Revision Number</label>
    <input type="text" class="form-control" id="verNumber"
           required
           [(ngModel)]="model.verNumber" name="verNumber">
  </div>

  <div class="form-group">
    <label for="repoName">repoName</label>
    <select class="form-control" id="repoName"
            required
            [(ngModel)]="model.repoName" name="repoName">
      <option *ngFor="let repo of (repositorys | repositoryGroup:groupId)" [value]="repo.name">{{repo.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="syncRepoNameList">Hero Power</label>
    <select class="form-control" id="syncRepoNameList"
            multiple required
            [(ngModel)]="syncRepoNameList" name="syncRepoNameList">
      <option *ngFor="let repo of (repositorys | repositoryGroup:groupId)" [value]="repo.name">{{repo.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

</form>
