<h1>合并列表</h1>
<form>
  <label for="groupId">filter</label>
  <div>
    <select id="groupId"
            required
            [(ngModel)]="groupId" name="groupId">
      <option value="">全部</option>
      <option *ngFor="let group of groupList" [value]="group.id">{{group.name}}</option>
    </select>
    <label>
      <input type="checkbox" [(ngModel)]="hideComplete" name="hideComplete">隐藏已全部同步的
    </label>
  </div>
</form>
<ul>
  <li *ngFor="let commit of commintListByFilter">
    <p>{{commit.repoName}}: {{ commit.verNumber }}</p>
    <p>{{ gitCommitDetail[commit.verNumber] }}</p>
    <div>
      <label *ngFor="let repo of commit.syncRepoList">
        <input type="checkbox"
               [(ngModel)]="repo.synced" (change)="onAyncRepo(commit,repo)"
        >{{repo.repoName}}
      </label>
    </div>
    <hr>
  </li>
</ul>
