<div class="container">
  <h1>Cherryer</h1>
  <nav>
    <a routerLink="/commit-list" routerLinkActive="active">commit list</a>
    <a routerLink="/commit-add" routerLinkActive="active">commit add</a>
    <a routerLink="/repository-list" routerLinkActive="active">repository list</a>
    <a routerLink="/repository-add" routerLinkActive="active">repository add</a>
    <a routerLink="/group-list" routerLinkActive="active">group list</a>
    <a routerLink="/group-add" routerLinkActive="active">group add</a>
  </nav>
  <router-outlet></router-outlet>
</div>
